<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="bNum" #bNum="ngModel" [(ngModel)]="service.formData.bNum">

  <table>


    <tr class="form-group">

      <td style="font-weight: bold; color: #4e4c48">제목(타이틀)</td>

      <td>
        <input name="bTitle" #bTitle="ngModel" [(ngModel)]="service.formData.bTitle" class="form-control" required>
        <div class="validation-error" *ngIf="bTitle.invalid && bTitle.touched"> 필수 작성 항목입니다.  </div>
      </td>
    </tr>

    <tr class="form-group">
      <td style="font-weight: bold; color: #4e4c48">내용</td>
      <td>
        <textarea name="bContent" cols="50" rows="13" #bContent="ngModel" [(ngModel)]="service.formData.bContent" class="form-control" ></textarea>
      </td>
    </tr>

    <tr class="form-group">
      <td style="font-weight: bold; color: #4e4c48">아이디(작성자)</td>
      <td><input name="bId" #bId="ngModel" [(ngModel)]="service.formData.bId" class="form-control"></td>
    </tr>

    <tr class="form-group">
      <td><button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button></td>
    </tr>

  </table>

</form>


<!--  <table>-->
<!--    <tr>-->
<!--      <td>&nbsp;</td>-->
<!--      <td align="center">제목</td>-->
<!--      <td><input name="title" size="50" maxlength="100"></td>-->
<!--      <td>&nbsp;</td>-->
<!--    </tr>-->
<!--    <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>-->
<!--    <tr>-->
<!--      <td>&nbsp;</td>-->
<!--      <td align="center">이름</td>-->
<!--      <td><input name="name" size="50" maxlength="50"></td>-->
<!--      <td>&nbsp;</td>-->
<!--    </tr>-->
<!--    <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>-->
<!--    <tr>-->
<!--      <td>&nbsp;</td>-->
<!--      <td align="center">비밀번호</td>-->
<!--      <td><input type="password" password" size="50" maxlength="50"></td>-->
<!--      <td>&nbsp;</td>-->
<!--    </tr>-->
<!--    <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>-->
<!--    <tr>-->
<!--      <td>&nbsp;</td>-->
<!--      <td align="center">내용</td>-->
<!--      <td><textarea name="memo" cols="50" rows="13"></textarea></td>-->
<!--      <td>&nbsp;</td>-->
<!--    </tr>-->
<!--    <tr height="1" bgcolor="#dddddd"><td colspan="4"></td></tr>-->
<!--    <tr height="1" bgcolor="#82B5DF"><td colspan="4"></td></tr>-->
<!--    <tr align="center">-->
<!--      <td>&nbsp;</td>-->
<!--      <td colspan="2"><input type=button value="수정">-->
<!--        <input type=button value="취소">-->
<!--      <td>&nbsp;</td>-->
<!--    </tr>-->
<!--  </table>-->



<!--<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">-->
<!--  <input type="hidden" name="bNum" #bNum="ngModel" [(ngModel)]="service.formData.bNum">-->


<!--  <div class="form-group">-->

<!--    <label style="font-weight: bold; color: #4e4c48">제목(타이틀)</label>-->

<!--    <input name="bTitle" #bTitle="ngModel" [(ngModel)]="service.formData.bTitle" class="form-control" required>-->
<!--    <div class="validation-error" *ngIf="bTitle.invalid && bTitle.touched"> 필수 작성 항목입니다.  </div>-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label style="font-weight: bold; color: #4e4c48">내용</label>-->
<!--    <input name="bContent" #bContent="ngModel" [(ngModel)]="service.formData.bContent" class="form-control" cols="500" rows="13">-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label style="font-weight: bold; color: #4e4c48">아이디(작성자)</label>-->
<!--    <input name="bId" #bId="ngModel" [(ngModel)]="service.formData.bId" class="form-control">-->
<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>-->
<!--  </div>-->

<!--</form>-->
